/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.modile-aside-leave-active,
.modile-aside-enter-active {
  left: all 5s;
}

.modile-aside-leave-enter-from {
  opacity: 0;
  right: 100%;
}

.modile-aside-leave-leave-to {
  opacity: 0;
  right: -100%;
}